@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scrollbar styles */
.scrollbar-thin {
  scrollbar-width: thin; /* For Firefox */
}

.scrollbar-thumb {
  background-color: #4a5568; /* Customize thumb color */
  border-radius: 9999px; /* Make it rounded */
}

.scrollbar-track {
  background-color: #000; /* Customize track color */
  border-radius: 9999px; /* Make it rounded */
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Customize thumb color */
  border-radius: 9999px; /* Make it rounded */
}

::-webkit-scrollbar-track {
  background-color: #000; /* Customize track color */
  border-radius: 9999px; /* Make it rounded */
}

/* Embla Carousel Styles */
.embla {
  position: relative;
  overflow: hidden;
}
.embla__container {
  display: flex;
  will-change: transform;
}
.embla__slide {
  position: relative;
  flex: 0 0 100%;
  min-width: 100%;
}